 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
      <!--display variable-->

       <%= 2 + 2 %>

    <!--conditional statement-->

     <% if(userid === 20){ %>
        <h1>User ID: <%= userid %></h1>
       <% } else if(userid === 30){ %>
        <% } else {%>
            <h1>Nothing ...</h1>
        <% } %>    

 </body>
 </html>