<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEрҹҳҗ</title>
</head>
<body>
    <h1>HOMEрҹҳ¶вҖҚрҹҢ«пёҸ </h1>
    <h5>this is home</h5>
</body>
</html>